[user]
  name = Octavian Neamțu
  email = octavian.neamtu@generac.com

[color]
  ui = true

[alias]
  # Common shortcuts
  ci = commit
  st = status
  br = branch
  co = checkout
  p = push -u
  # Useful extras
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  unstage = reset HEAD --
  last = log -1 HEAD

[core]
  editor = nvim
  excludesfile = ~/.gitignore

[pull]
  rebase = true

[push]
  default = current
  autoSetupRemote = true

[rebase]
  autostash = true

[stash]
  showPatch = true

[receive]
  fsckObjects = true

[init]
  defaultBranch = main

[credential "https://github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential

[diff]
  tool = nvimdiff

[merge]
  tool = nvimdiff

[difftool]
  prompt = false

[rerere]
  enabled = true
