[user]
  name = Octavian Neamțu
  email = oneamtu89@gmail.com
[color]
  ui = true
[alias]
  ci = commit
  st = status
  br = branch
  co = checkout
  p = push -u
[core]
  editor = vim -f
  excludesfile = ~/.gitignore
[pull]
  rebase = true
[push]
  default = simple
[rerere]
  enabled = true
[rebase]
  autostash = true
[stash]
  showPatch = true
[receive]
  fsckObjects = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
